body{
    margin: 0;
    padding: 10px;
    background-color: #222222;
    color: whitesmoke;

}
a{
    color: rgb(72, 135, 252);
}
a:hover{
    color: #ffffff;
}
pre{
    background-color: #333;
}
#menu, #glowny{
    margin: 0;
    padding: 10px;
    margin-bottom: 5px;
    border: 3px solid black;
}