#userGL, #userGP{
    width: 50%;
}
#user-gora{
    display: flex;
}
h3{
    margin: 5px;
}
#comment_form{
    padding: 15px;
    border: 5px double rgb(47, 0, 255);;
}
h4{
    margin: 0;
}
#user-glowny{
    display: flex;    
}